<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    input[type="text"] {
      width: 200px;
    }
  </style>
</head>
<body>
  <h1>Hello World!</h1>
  <form method="POST" action="/api">
    <input id="enter-url-box" name="url-input" type="text" placeholder="Enter the URL to connect to:">
    <button>Enter</button>
  </form> 
</body>
</html>